*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    background: linear-gradient(135deg, #153677, #4e085e);
    width: 100%;
    padding: 10px;
    min-height: 100vh;
}
.todo-app h2 {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    color: #4e085e;
}
.todo-app{
    width: 100%;
    max-width: 550px;
    background: #fff;
    margin: 100px auto 30px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 30px;
    background: whitesmoke;
    border-radius: 30px;
}
button{
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 50px;
    background: #4e085e;
    border-radius: 40px;
    cursor: pointer;
    font-size: 17px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
}

ul li::before{
    height: 28px;
    position: absolute;
    width: 28px;
    border-radius: 50%s;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 9px;
    background-image: url(images/unchecked.png);
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    border-radius: 50%;
    color: black;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}
